.orderLines {
    table-layout: fixed;
}

.orderLinesHeader{
    display: table-row;
    font-weight: bold;
}

.orderLineIndexHeader, .orderLineLabelHeader, .orderLineQuantityHeader {
    width: 100px;
}