<form class="example-form" *ngIf="customer">
  <h3>Client: {{customer.Code}}</h3>
  <table>

    <tr>
      <td>       
          <div><label>Nom interne du client</label></div>
      </td>
      <td>
        <mat-form-field>
          <input name="name" [(ngModel)]="customer.Name" matInput>
        </mat-form-field>
      </td>
    </tr>
  
    <tr>
      <td>
          <div><label>Commentaire client</label></div>
      </td>
      <td>
        <mat-form-field>
          <textarea  name="comment" [(ngModel)]="customer.Comment" matInput></textarea>
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>