<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">

  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="20">
    <button mat-icon-button disabled></button>   
    <li (click)="onClick(node)" [class.selected]="node === activeNode">
      {{node.code}}
      {{node.name}}
      {{node.description}}
    </li>
  </mat-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="20">
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.code">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <li (click)="onClick(node)" [class.selected]="node === activeNode">
      {{node.code}}
      {{node.name}}
      {{node.description}}
    </li>
  </mat-tree-node>

</mat-tree>