@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
  }
/*   
  mat-form-field.mat-form-field {
    margin: 2px;
    width: 100%;
  }
  
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
  
  .mat-form-field-infix {
    border-top-width: 0 !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
  
  .mat-form-field-underline {
    bottom: 0 !important;
  }
   */
  form {
    width: 99%;
    padding-left: 4px;
    padding-right: 4px;
  }
  
  table {
    width: 100%
  }
  